.power-consumption-thresholds {
  display: flex;
  flex-direction: column;
  width: 30%;

  .widget-container {
    flex: 1;

    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12% 16px;
      text-align: left;
      width: 50%;

      .type-title {
        font-size: 16px;
        font-weight: 700;
      }

      input {
        width: 55%;
        border: 1px solid #878C94;
        border-radius: 4px;
        font-weight: 400;
        font-size: 32px;
        color: #0057B8;
        text-align: right;
      }

      & + section {
        border-left: 1px solid rgba(135, 140, 148, 0.5);
      }
    }
  }
}