@keyframes delayDisplay {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.map-area{
  display: flex;
  .map {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 65px);

    .map-wrapper {
      flex: 1 0 auto;
      background: #E5E5E5;
      display: flex;
      flex-direction: column;


      .parking{
        background: #454B52;
        width: 80%;
        height: calc(100vh -   65px - 200px - 120px);
        border-radius: 8px;
        align-self: center;
        display: flex;
        padding: 0 50px;

        .parking-wrapper{
          display: flex;
          flex-wrap: wrap;
          align-self: center;
          justify-content: center;
          position: relative;

          .item {
            width: 92px;
            height: 130px;
            background: #878C94;
            margin: 25px;
            position: relative;
            &:hover {
              cursor: pointer;
            }

            &:nth-child(4), &:nth-child(12){
              margin-right: 120px;
            }

            &.first-line{
              margin-bottom: 120px;
            }

            &.disabled {
              background: #878C94;
            }
            &.charged {
              background: #7BEA8E;
            }
            &.discharged {
              background: #EDB6F2;
            }
            &.idle {
              background: #F2F2F2;
            }
            &.pickup {
              background: #75EBE4;
            }

            &.charged, &.discharged, &.idle, &.pickup {

              .item-1 {
                background-image: url("./images/Car_1.svg");
                opacity: 1;
                animation: delayDisplay 10s ;
              }
              .item-2 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_2.svg");
              }
              .item-3 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_3.svg");
              }
              .item-4 {
                animation: delayDisplay 10s;
                background-image: url("./images/Car_4.svg");
              }
              .item-5 {
                background-image: url("./images/Car_5.svg");
                animation: delayDisplay 10s;
              }
              .item-6 {
                animation: delayDisplay 10s;
                background-image: url("./images/Car_6.svg");
              }
              .item-7 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_7.svg");
              }
              .item-8 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_8.svg");
              }
              .item-9 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_9.svg");
              }
              .item-10 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_1.svg");
              }
              .item-11 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_2.svg");
              }
              .item-12 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_3.svg");
              }
              .item-13 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_4.svg");
              }
              .item-14 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_5.svg");
              }
              .item-15 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_6.svg");
              }
              .item-16 {
                animation: delayDisplay 10s ;
                background-image: url("./images/Car_7.svg");
              }
            }

            .car {
              width: 70px;
              height: 130px;
              position: relative;
            }
            .number-up {
              position: absolute;
              top: -30px;
              font-weight: 700;
              font-size: 16px;
              color: #DCDFE3;
              width: 70px;
            }

            .number-down {
              position: absolute;
              text-align: center;
              bottom: -30px;
              font-weight: 700;
              font-size: 16px;
              color: #DCDFE3;
              width: 70px;
            }

            &.active {
              .number-down, .number-up {
                color: #FFE600;
              }
              &:before {
                content: " ";
                border: 4px solid #FFE600;
                position: absolute;
                z-index: 0;
                width: 88px;
                height: 126px;
                right: 0;
              }
            }
          }

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            right: 0;
            top: 48%;
            background-image: linear-gradient(to right, #DCDFE3 0%, #DCDFE3 50%, transparent 50%);
            background-size: 80px 1px;
          }
        }

      }
    }
    .road {
      height: 100px;
      background: #454B52;
      position: relative;

      .car{
        position: absolute;
        animation: move 4s infinite;
        z-index: 2;
        transform: rotate(90deg);
        width: 70px;
        height: 130px;

        &.pause{
          animation: none;
          display: none;
        }
        //offset-path: path('M 100 70 h 720 v 350 h -580 v -110');
        &.car-1 {
          offset-path: path('M 100 70 h 720 v 350 h -580 v -110');
          background-image: url("./images/Car_1.svg");
        }
        &.car-2 {
          offset-path: path('M 100 70 h 720 v 350 h -440 v -110');
          background-image: url("./images/Car_2.svg");
        }
        &.car-3 {
          offset-path: path('M 100 70 h 720 v 350 h -300 v -110');
          background-image: url("./images/Car_3.svg");
        }
        &.car-4 {
          offset-path: path('M 100 70 h 720 v 350 h -160 v -110');
          background-image: url("./images/Car_4.svg");
        }
        &.car-5 {
          offset-path: path('M 100 70 h 720 v 350 h 80 v -110');
          background-image: url("./images/Car_5.svg");
        }
        &.car-6 {
          offset-path: path('M 100 70 h 720 v 350 h 220 v -110');
          background-image: url("./images/Car_6.svg");
        }
        &.car-7 {
          offset-path: path('M 100 70 h 720 v 350 h 360 v -110');
          background-image: url("./images/Car_7.svg");
        }
        &.car-8 {
          offset-path: path('M 100 70 h 720 v 350 h 500 v -110');
          background-image: url("./images/Car_8.svg");
        }
        &.car-9 {
          offset-path: path('M 100 70 h 720 v 350 h -580 v 150');
          background-image: url("./images/Car_9.svg");
        }
        &.car-10 {
          offset-path: path('M 100 70 h 720 v 350 h -440 v 150');
          background-image: url("./images/Car_1.svg");
        }
        &.car-11 {
          offset-path: path('M 100 70 h 720 v 350 h -300 v 150');
          background-image: url("./images/Car_2.svg");
        }
        &.car-12 {
          offset-path: path('M 100 70 h 720 v 350 h -160 v 150');
          background-image: url("./images/Car_3.svg");
        }
        &.car-13 {
          offset-path: path('M 100 70 h 720 v 350 h 90 v 150');
           background-image: url("./images/Car_4.svg");
        }
        &.car-14 {
          offset-path: path('M 100 70 h 720 v 350 h 230 v 150');
          background-image: url("./images/Car_5.svg");
        }
        &.car-15 {
          offset-path: path('M 100 70 h 720 v 350 h 370 v 150');
          background-image: url("./images/Car_6.svg");
        }
        &.car-16 {
          offset-path: path('M 100 70 h 720 v 350 h 510 v 150');
          background-image: url("./images/Car_7.svg");
        }


      }

      .car-left{
        position: absolute;
        animation: move 4s infinite;
        z-index: 2;
        transform: rotate(90deg);
        width: 70px;
        height: 130px;
        &.car-left-1 {
          offset-path: path('M 200 400 h 550 v 400 h -820');
          background-image: url("./images/Car_1.svg");
        }
        &.car-left-2 {
          offset-path: path('M 340 400 h 410 v 400 h -850');
          background-image: url("./images/Car_2.svg");
        }
        &.car-left-3 {
          offset-path: path('M 480 400 h 270 v 400 h -850');
          background-image: url("./images/Car_3.svg");
        }
        &.car-left-4 {
          offset-path: path('M 620 400 h 130 v 400 h -850');
          background-image: url("./images/Car_4.svg");
        }
        &.car-left-5 {
          offset-path: path('M 100 70 h 720 v 350 h 80 v -110');
          background-image: url("./images/Car_5.svg");
        }
        &.car-left-6 {
          offset-path: path('M 100 70 h 720 v 350 h 220 v -110');
          background-image: url("./images/Car_6.svg");
        }
        &.car-left-7 {
          offset-path: path('M 100 70 h 720 v 350 h 360 v -110');
          background-image: url("./images/Car_7.svg");
        }
        &.car-left-8 {
          offset-path: path('M 100 70 h 720 v 350 h 500 v -110');
          background-image: url("./images/Car_8.svg");
        }
        &.car-left-9 {
          offset-path: path('M 200 460 h 550 v 340 h -820');
          background-image: url("./images/Car_9.svg");
        }
        &.car-left-10 {
          offset-path: path('M 340 460 h 410 v 340 h -820');
          background-image: url("./images/Car_1.svg");
        }
        &.car-left-11 {
          offset-path: path('M 480 460 h 270 v 340 h -820');
          background-image: url("./images/Car_2.svg");
        }
        &.car-left-12 {
          offset-path: path('M 620 460 h 130 v 340 h -820');
          background-image: url("./images/Car_3.svg");
        }
        &.car-left-13 {
          offset-path: path('M 100 70 h 720 v 350 h 90 v 150');
          background-image: url("./images/Car_4.svg");
        }
        &.car-left-14 {
          offset-path: path('M 100 70 h 720 v 350 h 230 v 150');
          background-image: url("./images/Car_5.svg");
        }
        &.car-left-15 {
          offset-path: path('M 100 70 h 720 v 350 h 370 v 150');
          background-image: url("./images/Car_6.svg");
        }
        &.car-left-16 {
          offset-path: path('M 100 70 h 720 v 350 h 510 v 150');
          background-image: url("./images/Car_7.svg");
        }


      }

      &:last-child{
        flex-shrink: 0;
      }
      &:after {
        content: "";
        //border-top: 30px dashed #DCDFE3;
        position: absolute;
        width: 100%;
        height: 4px;
        right: 0;
        top: 48%;
        background-image: linear-gradient(to right,#DCDFE3 0%, #DCDFE3 50%, transparent 50%);
        background-size: 80px 1px;

      }

    }

    .color-map {
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      position: absolute;
      top: 78vh;
      left: 40px;
      text-align: left;

      .label{
        font-weight: 600;
        margin-bottom: 15px;
      }

      .status-row{
        margin-bottom: 10px;

        &:before{
          content: " ";
          height: 20px;
          width: 20px;
          padding-right: 20px;
          line-height: 20px;
          margin-right: 10px;
        }
        &.disabled {
          &:before {
            background: #878C94;
          }
        }
        &.charged {
          &:before {
            background: #7BEA8E;
          }
        }
        &.discharged {
          &:before {
            background: #EDB6F2;
          }
        }
        &.idle {
          &:before {
            background: #F2F2F2;
          }
        }
        &.pickup {
          &:before {
            background: #75EBE4;
          }
        }
      }

    }

    .road-half{
      background: #454B52;
      height: 60px;
      width: 140px;
      align-self: center;
      position: relative;

      .msg-enter {
        width: 156px;
        background: #0057B8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        position: absolute;
        right: 140px;
        bottom: 22px;
        z-index: 1;
        .msg-wrapper{
            padding: 15px;
            text-align: left;

          .line{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 7px;
            .p-icon {
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              text-align: center;
              text-transform: uppercase;
              color: #FFFFFF;
              border : 1px solid white;
              padding: 2px;

            }

            .title {
              padding-left: 7px;
              font-size: 18px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;

            }

            .p-wrapper{
              align-self: end;
              background: white;
              justify-content: space-between;
              padding: 1px ;
              .p-white {
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
              }
              .p-number {
                font-weight: 700;
                font-size: 9px;
                line-height: 12px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
              }
            }
          }


          .text {
            border-top: 1px solid white;
            padding-top: 5px;
            color: white;
            display: flex;
            justify-content: space-between;
          }

        }
      }
      .msg{
        width: 160px;
        height: 70px;
        background: #1F5C34;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        position: absolute;
        right: 140px;
        bottom: 22px;
        z-index: 1;

        .msg-wrapper{
          border: 2px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 4px;
          margin: 4px;
          height: 90%;
          display: flex;
          flex-direction: column;
          color: white;
          justify-content:center;

          .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 1px solid white;
            width: 70%;
            align-self: center;
            margin-bottom: 3px;
            padding-bottom: 3px;
          }

          .text {
            font-size: 14px;
          }
        }

        &:last-child{
          bottom: 0;
          top: 22px
        }
      }

      .msg-exit{
        width: 156px;
        height: 72px;
        background: #FFFFFF;
        border: 2px solid #2D7E24;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        position: absolute;
        right: 140px;
        bottom: 0;
        top: 22px;
        z-index: 1;

        .title{
          font-weight: 700;
          font-size: 48px;
          line-height: 63px;
          text-align: center;
          text-transform: uppercase;
          color: #2D7E24;
        }
      }
    }
  }
}
.top {
  position: absolute;
  top: 210px;
  right: 20px;
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;

  .time-wrapper{
    display: flex;
    align-items: center;
    .date{
      width: 120px;
      background: #FFFFFF;
      border: 1px solid #DCDFE3;
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 20px;

    }

    .time {
      width: 120px;
      background: #FFFFFF;
      border: 1px solid #DCDFE3;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }

  .button-wrapper{
    background: #FFFFFF;
    border: 1px solid #DCDFE3;
    border-radius: 50px;
    width: 88px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;

    svg:hover {
      cursor: pointer;
      fill: black;
    }
    .icon {
      margin-left: 10px;
    }
  }

}

@media (max-width: 1440px) {
  .map-area .map .map-wrapper .parking .parking-wrapper .item {
    margin: 25px 10px;
  }
  .map-area .map .road-half{
    height: calc((100vh - (80vh - 65px - 200px - 120px) - 65px - 200px ) / 2);
  }
  .map-area .map .map-wrapper .parking{
    height: calc(80vh - 65px - 200px - 120px);
  }
  .map-area .map .road-half .msg:last-child {
    bottom: 0;
    top: 100px;
  }

  .map-area .map .map-wrapper  .road {


    .car{
      &.car-1 {
        offset-path: path('M 100 70 h 500 v 430 h -430 v -100');
      }
      &.car-2 {
        offset-path: path('M 100 70 h 500 v 430 h -310 v -100');
      }
      &.car-3 {
        offset-path: path('M 100 70 h 500 v 430 h -200 v -100');
      }
      &.car-4 {
        offset-path: path('M 100 70 h 500 v 430 h -90 v -100');
      }
      &.car-5 {
        offset-path: path('M 100 70 h 500 v 430 h 140 v -100');
      }
      &.car-6 {
        offset-path: path('M 100 70 h 500 v 430 h 250 v -100');
      }
      &.car-7 {
        offset-path: path('M 100 70 h 500 v 430 h 360 v -100');
      }
      &.car-8 {
        offset-path: path('M 100 70 h 500 v 430 h 470 v -100');
      }
      &.car-9 {
        offset-path: path('M 100 70 h 500 v 500 h -420 v 100');
      }
      &.car-10 {
        offset-path: path('M 100 70 h 500 v 500 h -300 v 100');
      }
      &.car-11 {
        offset-path: path('M 100 70 h 500 v 500 h -190 v 100');
      }
      &.car-12 {
        offset-path: path('M 100 70 h 500 v 500 h -80 v 100');
      }
      &.car-13 {
        offset-path: path('M 100 70 h 500 v 500 h 140 v 100');
      }
      &.car-14 {
        offset-path: path('M 100 70 h 500 v 500 h 260 v 100');
      }
      &.car-15 {
        offset-path: path('M 100 70 h 500 v 500 h 370 v 100');
      }
      &.car-16 {
        offset-path: path('M 100 70 h 500 v 500 h 480 v 100');
      }
    }
  }
}

