.costs-chart {

  .widget-container {
    position: relative;

    .prices-summary {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 42px;
      height: 175px;
      padding: 20px 0;
      font-weight: 600;
      position: absolute;
      right: 0;

      .price {
        display: flex;
        align-items: center;

        &:nth-child(3) {
          margin-right: 8px;
        }
      }
    }
  }
}